@media screen and (min-width: 200px) and (max-width:767px) {
    body{
        background: linear-gradient(
            to right top,
            rgba(var(--color-primary-lel),0.8),
            rgba(var(--color-primary-prime),0.8)),
            url(../images/game-background.jfif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .root{
        background: linear-gradient( to bottom left,
            rgba(var(--color-accent-bg), 0.8),
            rgba(var(--color-box-bg), 0.8)),
            url(../images/R.jfif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: -moz-fit-content;
        width: fit-content;
        margin: 3rem auto;
        padding: 0.5rem 0.2rem;
    }

    .plain{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        text-align: center;
    }

    #btn{
        padding: 0.5rem 1rem;
        margin: 1rem 0.2rem;
    }
}